<div>
    <app-map></app-map>
    <div class="Panel">
        <div class="Panel-content">
            <app-chat></app-chat>
            <app-chat-create></app-chat-create>
        </div>
        <div class="Panel-controlsPanel">
            <div class="Panel-panelBtn">
                <img src="/assets/svg/chat.svg" />
            </div>
            <img src="/assets/images/devider.png" />
            <div class="Panel-panelBtn">
                <img src="/assets/svg/plus.svg" />
            </div>
        </div>
    </div>
</div>