/*@import "variables";*/

$text-highlight: #62cbe3;
$text: #2e3c4a;
$text-sub: #a2acbc;
$input-border: #62cbe3;
$divider: #a2acbc;
$btn-submit: #62cbe3;
.CreateForm {
    padding: 20px;
    &-title {
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
    }
    &-formControl {
        margin-bottom: 10px;
        text-align: left;
        input {
            color: $text;
            text-align: left;
             ::-webkit-input-placeholder {
                color: $text;
                font-weight: 300;
            }
        }
    }
    &-pickCoordsBtn {
        margin-right: 10px;
    }
}