/*@import "variables";*/

$text-highlight: #62cbe3;
$text: #2e3c4a;
$text-sub: #a2acbc;
$input-border: #62cbe3;
$divider: #a2acbc;
$btn-submit: #62cbe3;
.Message {
    margin-bottom: 20px;
    &-row {
        display: flex;
        justify-content: space-between;
    }
    &-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: gray;
        flex-shrink: 0;
        flex-grow: 0;
        color: white;
        text-align: center;
        line-height: 60px;
        font-size: 40px;
    }
    &-text {
        width: 308px;
        background-color: #e3e6eb;
        border-radius: 20px;
        padding: 15px 20px;
        font-weight: 300;
    }
    &-userName {
        padding-left: 25px;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 5px;
    }
    &-status {
        text-align: right;
        color: $text-sub;
        font-size: 12px;
        font-weight: 300;
        margin-top: 5px;
    }
    &-sendFlag {
        width: 10px;
        height: 7px;
        margin-left: 3px;
    }
    &--me {
        text-align: right;
        .Message-avatar {
            order: 10;
        }
        .Message-userName {
            padding-right: 25px;
            padding-left: 0;
        }
        .Message-text {
            background-color: #d0eff7;
        }
    }
}