<form class="LoginForm" autocomplete="off" novalidate #loginForm="ngForm">
    <a class="LoginForm-regLink Link Link--noUnderline">регистрация</a>

    <img class="LoginForm-logo" src="/assets/images/geochat_logo.png" />

    <h2 class="LoginForm-title">
        <span class="Text--highlight">GEO</span>chat App
    </h2>

    <div class="LoginForm-subtitle">Добро пожаловать!</div>
    <div class="LoginForm-formControl">
        <input type="email" class="InputControl LoginForm-input" placeholder="email" name="email" required email />
    </div>
    <div class="LoginForm-formControl">
        <input type="text" class="InputControl LoginForm-input" placeholder="nickname" name="nickname" requred />
    </div>

    <div class="LoginForm-forgetLink">
        Забыли пароль? <a class="Link">Восстановить</a>
    </div>

    <button class="Btn Btn--submit LoginForm-submitBtn">Войти</button>
</form>