//@import "node_modules/normalize.css/normalize";
//@import "variables";
//@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
$text-highlight: #62cbe3;
$text: #2e3c4a;
$text-sub: #a2acbc;
$input-border: #62cbe3;
$divider: #a2acbc;
$btn-submit: #62cbe3;
body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: $text;
}

* {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: white;
    font-weight: 300;
}

.InputControl {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $input-border;
    font-weight: 300;
    text-align: center;
    height: 45px;
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: 'Roboto';
    &:focus {
        outline: none;
    }
}

.Link {
    color: $text-highlight;
}

.Text {
    &--highlight {
        color: $text-highlight;
    }
}

.Btn {
    border: none;
    outline: none;
    padding: 18px 40px;
    font-size: 20px;
    border-radius: 40px;
    cursor: pointer;
}

.Btn--submit {
    color: black;
    background-color: $btn-submit;
}