<div class="Chat">
    <div *ngIf="chat">
        <div class="Chat-header">
            <div class="Chat-name"></div>
            <div class="Chat-onlineStatus"> участников онлайн</div>
        </div>

        <div class="Chat-chatbox">
            <div class="Chat-messages" *ngIf="chat">
                <app-message></app-message>
            </div>
        </div>

        <div class="Chat-controls">
            <textarea class="Chat-msgInput" placeholder="напиши текст"></textarea>
            <button class="Chat-sendBtn"><img src="/assets/svg/send-btn.svg" /></button>
        </div>
    </div>
    <div *ngIf="!chat" class="Chat-prompt">
        Пожалуйста, выберите один из чатов на карте
    </div>
</div>